MONGO_URI=mongodb+srv://vansh_admin:VanshOS2026Cluster@cluster0.mongodb.net/vanshos_db?retryWrites=true&w=majority
JWT_SECRET_KEY=vanshos_jwt_access_secret_2026_key_super_secure
SECRET_KEY=vanshos_flask_session_secret_2026
UPLOAD_FOLDER=uploads
MAX_CONTENT_LENGTH=16777216
PORT=5000
FLASK_ENV=development
